<div class="row">
  <div class="col-md-6">
    <h1><i class="fa fa-usd" aria-hidden="true"></i> Orders </h1>
  </div>
  <div class="col-md-6">
    <h5 class="pull-right text-muted"> Total Owed:{{totalOwed | currency:"USD":true}} </h5>
  </div>
</div>


<table *ngIf="clients?.length > 0;else noClients" class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Balance</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <td>{{client.lastName}}</td>
      <td>{{client.firstName}}</td>
      <td>{{client.email}}</td>
      <td>{{client.phone}}</td>
      <td>{{client.balance | currency:"USD":true}}</td>
      <td>
        <a [routerLink]="['/client/' + client.$key]"href="" class="btn btn-secondary btn-sm">
          <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>
          <span class="sr-only"></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #noClients>
  <hr>
  <h5>There are no clients in the system</h5>
</ng-template>
